@namespace h "http://www.w3.org/1999/xhtml";
    .title1 {
        text-align: center;
        }
    .title1-bold {
        font-size: 250%;
        font-weight: bold;
        }
    .title2 {
        font-size: 150%;
        font-weight: bold;
        text-align: center;
    }
    .bold {
        font-weight: bold;
        }
    .italic {
        font-style: italic;
        }
    .license {
        font-style: italic;
        margin-left: 10%;
        margin-top: 40%;
        max-width: 80%;
        text-align: justify;
        }
    .quote {
        background-color: #fafafa;
        border: 1px dashed #bbb;
        margin: 0.5em 5%;
        padding: 0 1em;
        }
    .collapsible {
        background-color: #fafafa;
        margin: 0.5em 5%;
        padding: 0 1em;
        }
    .collaps-title {
        border-bottom: 1px solid #444;
        font-weight: bold;
        margin: 0 -1em;
        padding: 0.5em 1em;
        }
    .collapsible .quote{
        background-color: #E0E0E0;
        }
    .scp-title {
        font-size: 120%;
        font-weight: bold;
        margin: 2em 0;
        }
    .tale-title {
        font-size: 120%;
        font-style: italic;
        margin: 2em 0;
        text-align: center;
        }
    table {
        border-bottom: 1px solid #999;
        border-collapse: separate;
        border-right: 1px solid #999;
        border-spacing: 0;
        }
    table th {
        background-color: #e0e0e0;
        }
    table th, table td {
        border-left: 1px solid #999;
        border-top: 1px solid #999;
        max-width: 1600px;
        overflow: hidden;
        padding: 10px;
        page-break-inside: avoid;
        }
    .intro {
        font-size: 130%;
        margin: 5em 5%;
    }
    .sign {
        text-align: center;
    }
    .attrib {
        font-size: 80%;
    }
    .link {
        font-family: monospace;
        font-weight: bold;
        text-decoration: underline;
    }
    * {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    }