@namespace h "http://www.w3.org/1999/xhtml";
    .title1 {
        text-align: center;
        }
    .title1-bold {
        font-size: 200%;
        font-weight: bold;
        }
    .bold {
        font-weight: bold;
        }
    .italic {
        font-style: italic;
        }
    .license {
        font-style: italic;
        margin-left: 10%;
        margin-top: 40%;
        max-width: 80%;
        text-align: justify;
        }
    .quote {
        background-color: #f4f4f4;
        border: 1px dashed #999;
        margin: 0.5em 5%;
        padding: 0 1em;
        }
    .col {
        background-color: #ECECEC;
        border: 1px solid #444;
        margin: 0.5em 5%;
        padding: 0 1em;
        }
    .col-title {
        border-bottom: 1px solid #444;
        font-weight: bold;
        margin: 0 -1em;
        padding: 0.5em 1em;
        }
    .col .quote{
        background-color: #E0E0E0;
        }
    .scp-title {
        font-size: 120%;
        font-weight: bold;
        margin: 2em 0;
        }
    .tale-title {
        font-size: 120%;
        font-style: italic;
        margin: 2em 0;
        text-align: center;
        }
    * {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        }